<div id="BasicGroupContainer" style="width:930px;height:480px;margin:-30px -30px 0px -25px; position: relative;">


<div id="123" style="position: absolute; left: 714px; top: 81px; z-index: 10; width: 69px; height: 24px; border: medium solid #000000"  title={{ phoneme_group.7 }}></div>

<div id="115" style="position: absolute; left: 623px; top: 81px; z-index: 10; width: 63px; height: 23px; border: medium solid #000000"  title={{ phoneme_group.2 }}></div>

<div id="118" style="position: absolute; left: 712px; top: 232px; z-index: 10; width: 56px; height: 25px; border: medium solid #000000"  title={{ phoneme_group.4 }}></div>

<div id="114" style="position: absolute; left: 626px; top: 235px; z-index: 10; width: 60px; height: 22px; border: medium solid #000000"  title={{ phoneme_group.1 }}></div>

<div id="119" style="position: absolute; left: 717px; top: 340px; z-index: 10; width: 65px; height: 24px; border: medium solid #000000"  title={{ phoneme_group.5 }}></div>

<div id="117" style="position: absolute; left: 819px; top: 368px; z-index: 10; width: 75px; height: 26px; border: medium solid #000000"  title={{ phoneme_group.3 }}></div>

<div id="124" style="position: absolute; left: 819px; top: 431px; z-index: 10; width: 69px; height: 24px; border: medium solid #000000"  title={{ phoneme_group.8 }}></div>

<div id="133" style="position: absolute; left: 721px; top: 414px; z-index: 10; width: 72px; height: 26px; border: medium solid #000000"  title={{ phoneme_group.10 }}></div>

<div id="120" style="position: absolute; left: 626px; top: 391px; z-index: 10; width: 64px; height: 23px; border: medium solid #000000"  title={{ phoneme_group.6 }}></div>

<div id="125" style="position: absolute; left: 511px; top: 235px; z-index: 10; width: 63px; height: 24px; border: medium solid #000000"  title={{ phoneme_group.9 }}></div>

<div id="112" style="position: absolute; left: 395px; top: 231px; z-index: 10; width: 63px; height: 29px; border: medium solid #000000"  title={{ phoneme_group.0 }}></div>


<img alt="MnMap file" src="/image/MnMapper_Demo.jpg" style="width:930px;height:480px" />
